* {
	margin: auto;
	padding: 0;
}

body {
	background:#c5dbea repeat-x top left;
	font-family: arial;
	font-size: 11px;
	color: #666666;
	text-align:center;
    margin: auto;
}

p {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
 
a img{
	border: 0px;
}
 
a {
	text-decoration: none;
	cursor: pointer;
}


 